h1.b2b::after {
  right: 320px;
  top: auto;
  background: url(../../images/b2b-monkey.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  width: 230px;
  height: 230px;
  bottom: -71px;
}

@media (max-width: 1499px) {
  h1.b2b::after {
    right: 224px;
    width: 170px;
    height: 170px;
    bottom: -65px;
  }
}

@media (max-width: 1199px) {
  h1.b2b::after {
    right: 160px;
    width: 100px;
    height: 100px;
    bottom: -36px;
  }
}

@media (max-width: 991px) {
  h1.b2b::after {
    right: 135px;
    width: 80px;
    height: 80px;
    bottom: -30px;
  }
}

@media (max-width: 767px) {
  h1.b2b::after {
    right: 61px;
    width: 50px;
    height: 50px;
    bottom: -17px;
  }
}
