.only-cnt-main {
  padding-top: 0 !important;
}

.only-cnt-main h3 {
  margin-bottom: 0;
}
.only-cnt-main ul {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.only-cnt-main ul li {
  background: url(../../images/c-right.png);
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left top 7px;
  width: 33.33%;
  float: left;
  margin-bottom: 30px;
  padding-right: 50px;
}

@media (max-width: 991px) {
  .only-cnt-main ul li {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .only-cnt-main ul li {
    width: 100%;
  }
  .only-cnt-main ul li {
    padding-right: 0;
  }
}
