.testi_section {
  padding: 100px 0;
  text-align: center;
}
.testi_section p {
  font-size: 18px;
  line-height: 25px;
}
.testi_section .header_section {
  margin-bottom: 15px;
}
.testi_section .header_section:before {
  background: url(../../images/quote_icn.png) no-repeat;
  content: "";
  float: left;
  width: 32px;
  height: 30px;
  position: absolute;
  left: -30px;
  top: 135px;
  line-height: 1;
  background-size: contain;
}
.rec-arrow {
  display: none;
}
.testi_section .author_name {
  font-size: 30px;
  line-height: 1.2;
  margin-top: 35px;
  font-family: "Conv_AvenirLTStd-Black";
}
.testi_section .heading {
  font-size: 60px;
  margin-bottom: 35px;
  line-height: 55px;
}

@media (max-width: 1499px) {
  .testi_section .header_section:before {
    font-size: 68px;
    top: 72px;
    left: -14px;
  }
  .testi_section .heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .testi_section .author_name {
    font-size: 22px;
  }
}

@media (max-width: 1199px) {
  .testi_section {
    padding: 70px 0;
  }
  .testi_section .header_section:before {
    font-size: 68px;
    top: 73px;
    left: -27px;
  }
  .testi_section .heading {
    font-size: 34px;
  }
}

@media (max-width: 991px) {
  .testi_section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .testi_section .header_section:before {
    left: -35px;
  }
}

@media (max-width: 767px) {
  .testi_section .heading {
    line-height: 1.2;
  }
  .testi_section .header-section:before {
    left: -35px;
    top: 105px;
  }
  .testi_section p {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .testi_section {
    padding: 50px 40px;
  }
  .testi_section .heading {
    font-size: 26px;
  }
  .testi_section .bx-wrapper:before {
    width: 22px;
    left: -32px;
  }
  .testi_section .author_name {
    font-size: 18px;
  }
}
