.inner-banner.blog-detail {
  height: 130px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .inner-banner.blog-detail {
    height: 110px;
  }
}
@media (max-width: 991px) {
  .inner-banner.blog-detail {
    height: 97px;
  }
}
@media (max-width: 767px) {
  .inner-banner.blog-detail {
    height: 77px;
  }
}
