h1.ext::after {
  background: url(../../images/ext-monkey.png);
  width: 150px;
  height: 200px;
  right: 10px;
  background-repeat: no-repeat;
  top: -33px;
  background-size: 100%;
}

@media (max-width: 1499px) {
  h1.ext::after {
    width: 120px;
    height: 170px;
    top: -34px;
  }
}

@media (max-width: 1199px) {
  h1.ext::after {
    width: 75px;
    height: 110px;
    top: -20px;
  }
}

@media (max-width: 991px) {
  h1.ext::after {
    width: 55px;
    height: 80px;
    top: -6px;
  }
}

@media (max-width: 767px) {
  h1.ext::after {
    width: 35px;
    height: 50px;
    top: -9px;
  }
}
